<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xml:lang="en">
<head>
  <meta charset="UTF-8" />
  <title>PlantPal</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
  <main class="container">
    <h1>PlantPal</h1>
    <p>Answer a few questions to get a plant pal recommendation.</p>
    <a class="btn" th:href="@{/quiz}">Start Quiz</a>
    <a class="btn secondary" th:href="@{/plants}">Browse All Plants</a>
    <a class="btn secondary" th:href="@{/search}">Search Plants</a>
 
  </main>
</body>
</html>
 