<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Plant Gallery</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>

    <main class="container-wide">

        <h1>Plant Gallery</h1>

        <div class="gallery-grid">

            <div class="gallery-card" th:each="plant : ${plants}">

                <img 
                    class="gallery-img"
                    th:src="@{'/' + ${plant.plantImageUrl}}" 
                    alt="This is what the plant looks like.">

                <h2 th:text="${plant.plantName != null ? plant.plantName : 'Plant Name'}">Plant Name</h2>

                <p>
                    <em th:text="${plant.plantScientificName}"></em>
                </p>

                <p th:text="${plant.plantDescription}"></p>

                <ul>
                    <li>Environment:
                        <span th:text="${plant.plantEnvironment}"></span>
                    </li>

                    <li>Care Level:
                        <span th:text="${plant.plantCareLevel}"></span>
                    </li>

                    <li>Growth Speed:
                        <span th:text="${plant.plantGrowthSpeed}"></span>
                    </li>

                    <li>Pet Safe:
                        <span th:text="${plant.petSafe} ? 'Yes' : 'No'"></span>
                    </li>
                    
                    <li>Edible:
                        <span th:text="${plant.edible} ? 'Yes' : 'No'"></span>
                    </li>

                </ul>

            </div>

        </div>

    </main>

</body>
</html>