<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>PlantPal Quiz</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
  <main class="container">
    <nav class="page-nav actions" style="margin: 0 0 14px 0;">
        <a class="btn secondary" th:href="@{/}">Home</a>
        <a class="btn secondary" th:href="@{/quiz}">Quiz</a>
        <a class="btn secondary" th:href="@{/plants}">Gallery</a>
        <a class="btn secondary" th:href="@{/search}">Search</a>
    </nav>
    <h1>PlantPal Assessment</h1>

    <form th:action="@{/result}" th:object="${answers}" method="post" class="card">

      <div class="q">
        <h2 class="q-title">Where will your plant live?</h2>
        <label><input type="radio" th:field="*{plantEnvironmentPreference}" value="INDOOR" required> Indoors</label>
        <label><input type="radio" th:field="*{plantEnvironmentPreference}" value="OUTDOOR"> Outdoors</label>
        <label><input type="radio" th:field="*{plantEnvironmentPreference}" value="BOTH"> Both</label>
      </div>

      <div class="q">
        <h2 class="q-title">What level of care can you handle?</h2>
        <label><input type="radio" th:field="*{plantCareLevelPreference}" value="EASY" required> Easy</label>
        <label><input type="radio" th:field="*{plantCareLevelPreference}" value="MEDIUM"> Medium</label>
        <label><input type="radio" th:field="*{plantCareLevelPreference}" value="HARD"> Hard</label>
      </div>

      <div class="q">
        <h2 class="q-title">Do you have a preference for the plant's growth speed?</h2>
        <label><input type="radio" th:field="*{plantGrowthSpeedPreference}" value="FAST" required> Fast</label>
        <label><input type="radio" th:field="*{plantGrowthSpeedPreference}" value="MEDIUM"> Medium</label>
        <label><input type="radio" th:field="*{plantGrowthSpeedPreference}" value="SLOW"> Slow</label>
      </div>

      <div class="q">
        <h2 class="q-title">Does the plant need to be pet safe?</h2>
        <label><input type="radio" th:field="*{petSafePreference}" value="YES" required> Yes</label>
        <label><input type="radio" th:field="*{petSafePreference}" value="NO"> No</label>
        <label><input type="radio" th:field="*{petSafePreference}" value="DOES_NOT_MATTER"> Doesn’t matter</label>
      </div>

      <div class="q">
        <h2 class="q-title">Do you want your plant to be edible?</h2>
        <label><input type="radio" th:field="*{ediblePreference}" value="YES" required> Yes</label>
        <label><input type="radio" th:field="*{ediblePreference}" value="NO"> No</label>
        <label><input type="radio" th:field="*{ediblePreference}" value="DOES_NOT_MATTER"> Doesn’t matter</label>
      </div>

      <button type="submit" class="btn">Get Recommendation</button>
    </form>
  </main>
</body>
</html>
 